*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

#background{
    display:flex;
    height:100vh;
}

/* LEFT SIDE */
#black{
    width:50%;
    background:#111;
    color:white;
    padding:55px;
}

#black h2{
    font-size:28px;   /* logo text */
    margin-bottom:70px;
}

#black h1{
    font-size:72px;   /* big heading */
    font-weight:500;
    line-height:1.1;
    margin-bottom:40px;
}

#black h4{
    font-size:18px;   /* small text fixed */
    font-weight:400;
    color:#d0d0d0;
    margin-bottom:16px;
}

/* RIGHT SIDE */
#Right{
    width:50%;
    background:#f8f8f8;
    display:flex;
    justify-content:center;
    align-items:center;
}

.form-box{
    width:78%;
}

.form-box h1{
    font-size:58px;
    margin-bottom:15px;
}

.form-box p{
    font-size:18px;   /* small paragraph fixed */
    color:gray;
    margin-bottom:35px;
}

.input-group{
    margin-bottom:25px;
}

label{
    display:block;
    font-size:18px;   /* label small */
    margin-bottom:10px;
}

input{
    width:100%;
    padding:18px;
    font-size:18px;
    border:1px solid #ddd;
    border-radius:15px;
}

#Next{
    margin-top:15px;
    background:black;
    color:white;
    border:none;
    padding:16px 35px;
    font-size:18px;
    border-radius:40px;
    cursor:pointer;
}
.bottom-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:25px;
}

.steps{
    display:flex;
    gap:12px;
}

.steps span{
    width:90px;
    height:6px;
    background:#d9d9d9;
    border-radius:10px;
}

.steps .active{
    background:black;
}